<html>
	<body style="margin:30px">
		<p>
			<center>
				<font color="red">
				予期しないエラーが発生しました<br /><br />
				</font>
				<a href='/menu.html'>トップページへ戻る</a><br />
			</center>
			<br /><br />
			$error_data.get('error_log')
		</p>
	</body>
</html>
